<div style="font-size:10px; text-align:center; width:100%; padding:5px 0; border-top:1px solid #ccc;">
    
        <span>Pagina <span class="pageNumber"></span> di <span class="totalPages"></span></span>
        <br>
        <img src="<%= logoBase64 %>" style="height:16px;"/>
      </div>